[submodule "Aether-s-Notebook-Android-Client"]
	path = Aether-s-Notebook-Android-Client
	url = git@github.com:dominicjprice/Aether-s-Notebook-Android-Client.git
[submodule "Aether-s-Notebook-Azure-Server"]
	path = Aether-s-Notebook-Azure-Server
	url = git@github.com:dominicjprice/Aether-s-Notebook-Azure-Server.git
[submodule "Aether-s-Notebook-Android-Client-Examples"]
	path = Aether-s-Notebook-Android-Client-Examples
	url = git@github.com:dominicjprice/Aether-s-Notebook-Android-Client-Examples.git
[submodule "Aether-s-Notebook-Android-Client-Azure-Appender"]
        path = Aether-s-Notebook-Android-Client-Azure-Appender
        url = git@github.com:dominicjprice/Aether-s-Notebook-Android-Client-Azure-Appender.git
