<?xml version="1.0" encoding="utf-8"?>
<manifest 
		xmlns:android="http://schemas.android.com/apk/res/android"
		android:versionCode="1"
		package="horizon.aether"
		android:versionName="1.0">
		
	<application 
			android:icon="@drawable/icon"
			android:name="GeoTagger"
			android:label="@string/application_name"
			android:allowClearUserData="true">
			
		<activity 
				android:name=".sensors.SensorServiceConfigurator"
				android:icon="@drawable/icon"
				android:label="@string/application_sensorservice_configurator_name"
				android:launchMode="singleTask">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity
				android:launchMode="singleTask"
				android:label="@string/application_geotag_name" android:name=".GeoTag">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity android:name=".TextNote" />
		<activity android:name=".VoiceNote" />
		<activity android:name=".ImageNote" />
		<activity android:name=".VideoNote" />
		
		<service android:name=".sensors.SensorService" />
		<service android:name=".sensors.WifiLoggingService" />
		<service android:name=".sensors.CellLocationLoggingService" />
		<service android:name=".sensors.DataConnectionStateLoggingService" />
		<service android:name=".sensors.SignalStrengthLoggingService" />
		<service android:name=".sensors.ServiceStateLoggingService" />
		<service android:name=".sensors.TelephonyLoggingService" />
		<service android:name=".sensors.LocationLoggingService" />

	</application>
	
	<uses-sdk android:minSdkVersion="3" />
	
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.BATTERY_STATS" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>